DOMAIN=localhost
PORT=5000
PREFIX=/api
IS_DEV=true
APP_VERSION=0.1.0
APP_SECRET=change-me
TOOL_CONTACT=https://github.com/Wikidata-Cameroon/WdLexAudioBE

# SQLite is the default. For Toolforge/MariaDB:
# SQLALCHEMY_DATABASE_URI=mysql+pymysql://user:pass@host/db

OAUTH_BASE_URL=https://www.wikidata.org
BASE_URL=https://www.wikidata.org/w/api.php
WM_COMMONS_URL=https://commons.wikimedia.org/w/api.php
SPARQL_ENDPOINT_URL=https://query.wikidata.org/sparql
WM_COMMONS_IMAGE_BASE_URL=https://commons.wikimedia.org/wiki/Special:FilePath/
WM_COMMONS_AUDIO_BASE_URL=https://upload.wikimedia.org/wikipedia/commons/

CONSUMER_KEY=
CONSUMER_SECRET=

DEV_FE_URL=http://localhost:3000
PROD_FE_URL=
